* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-section {
  background: linear-gradient(90deg, #adfda2, #11d3f3);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* top left right bottom */
}

.login-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #77777764;
  max-width: 450px;
  width: 600px;
  padding: 2rem 2.5rem;
  margin: 2rem;
}

.login-header {
  text-align: center;
}

.login-title-img {
  text-align: center;
  /* max-width: 150px; */
}
.login-title-img-container {
  display: inline-block;
  max-width: 160px;
  background-color: green;
  border-radius: 50%;
}
.login-title-img img {
  display: inline-block;
  max-width: 150px;
  background-color: #c3fae8;
  border-radius: 50%;
}

.login-title {
  text-align: center;
  font-size: 3.6rem;
  margin-bottom: 4rem;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  gap: 4rem;
}

/* input */
.inputfield-container {
  width: 100%;
  position: relative;
}
.icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 30px;
  border-radius: 50%;
}
input {
  width: 100%;
  padding: 1rem 2rem;
  padding-left: 5rem;
  font-size: 1.8rem;
  border-radius: 100px;
  border: #777 solid 2px;
  border: none;
  /* border-bottom: solid 3px #777; */
  box-shadow: 0 10px 10px #77777756;
}

input:focus {
  border: #777 solid 2px;
  outline: none;
}

.login-btn {
  background: linear-gradient(90deg, #adfda2, #11d3f3);
  outline: none;
  border: none;
  cursor: pointer;
}

.login-btn:hover {
  background: linear-gradient(180deg, #adfda2, #11d3f3);
}

.other-login-container {
  /* background-color: #bbb; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.login-other-text {
  font-size: 1.6rem;
  position: relative;
  /* background-color: yellow; */
}
.login-other-text::before {
  position: absolute;
  height: 2px;
  width: 100px;
  top: 0;
  left: 0;
  background-color: #000;
}
.login-options {
  font-size: 3.6rem;
  color: #777;
}

.other-login-container p {
  font-size: 1.4rem;
  margin-bottom: 2.4rem;
}

.other-login-container p a {
  text-decoration: none;
  color: #3b5bdb;
  font-weight: 600;
}

.noaccount {
  font-size: 1.6rem;
  text-align: center;
}

.noaccount a {
  color: #868e96;
  transition: 0.3s;
}

.noaccount a:hover {
  color: #000;
}
